<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dracoo.medicinemanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MedicineApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_medical_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_medical_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicineManagement"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".menus.direct_sale.DirectSaleActivity"
            android:exported="false"
            android:label="@string/direct_sale_activity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".menus.stock_opname.view.ReportStockOpnameActivity"
            android:exported="false"
            android:label="@string/report_stock_opname_activity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".menus.stock_opname.view.StockOpnameActivity"
            android:exported="false"
            android:label="@string/stock_opname_activity" />
        <activity
            android:name=".menus.new_medicine.view.NewMedicineActivity"
            android:exported="false"
            android:label="@string/medicine_activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".menus.login.view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".menus.main.view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".menus.splash.view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>